<div class="container main">
  <ul *ngIf="dayExpenses" class="items-list">
      <li *ngFor="let day of dayExpenses; let i = index">
        <div>
          <div class="date-header">
            {{day.date | date}}
          </div>
          <div *ngFor="let expense of day.expenses" class="row">
            <div class="col-9">
              {{expense.description}}
            </div>
            <div class="col-2 negative">
              {{expense.amount | currency:'GBP':'symbol':'1.2-2'}}
            </div>
            <div class="col-1">
              <button type="button" class="close" aria-label="Close" (click)="deleteExpense(expense, i)">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
      </li>
    </ul>
</div>
<div class="circle-btn-wrapper">
    <div class="circle-btn" (click)="gotoNewExpense()">+</div>
</div>
