<div class="container">
  <ul *ngIf="dayExpenses" class="items-list">
      <li *ngFor="let day of dayExpenses; let i = index">
        <div>
          {{day.date | date}}
          <div *ngFor="let expense of day.expenses">
            {{expense.description}} {{expense.amount | currency:'GBP':'symbol':'1.2-2'}}
            <button type="button" class="close" aria-label="Close" (click)="deleteExpense(expense, i)">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
        </div>
      </li>
    </ul>
</div>
<div class="circle-btn-wrapper">
    <div class="circle-btn" (click)="gotoNewExpense()">+</div>
</div>
