/* You can add global styles to this file, and also import other style files */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}

ul.items-list {
  padding: 0;
  list-style: none;
}

ul.items-list li {
  border-bottom: 1px solid #999;
}

.positive {
  color: #5bc5a7;
}

.negative {
  color: #de3838;
}

.positive-state {
  background-color: #5bc5a7 !important;
}

.negative-state {
  background-color: #de3838 !important; 
}

.circle-btn-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
}

.circle-btn {
  background-color: #5bc5a7;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  font-size: 36px;
  text-align: center;
  color: #fff;
  position: relative;
  left: -15px;
  top: -20px;
  box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.3);
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
