.custom-nav {
  background-color: #5bc5a7;
  color: #fff;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.3);
}

.custom-nav .vertical-align {
  line-height: 45px;
}

.nav-link {
  padding: 0.2rem 0.4rem;
  max-width: 105px;
  text-align: center;
  max-height: 56px;
  min-height: 56px;
}

a.nav-link {
  color: #fff;
}

a.nav-link.active {
  border-bottom: 3px solid #fff;
}

.top-nav {
  padding: 5px;
}

.top-left-nav img {
  width: 23px;
  float: right;
  margin-left: 5px;
}

.popover {
  top: 36px;
  left: 68%;
}
