<div class="custom-nav" [ngClass]="balanceStateClass">
    <div class="row top-nav no-margin">
      <div class="col-9 no-padding header">
          <img src="assets/wallet-icon.png">
          <div class="header-text">Intelligent Expense Manager</div>
        </div>
      <div class="col-3 top-left-nav no-padding">
        <img src="assets/menu.png" (click)="toggleSideMenu()">
        <img src="assets/notification.png"/>
      </div>
      <div class="popover" [@menuState]="state">
          <div class="popover-body">
            <div (click)="gotoProfile()">Profile settings</div>
            <div (click)="logout()">Log out</div>
          </div>
      </div>
    </div>
    <nav class="row no-margin">
      <div class="col-3 no-padding">
        <a class="nav-link active" routerLink="/user/expenses" routerLinkActive="active">All expenses</a>
      </div>
      <div class="col-3 no-padding">
        <a class="nav-link" routerLink="/user/shared-expenses" routerLinkActive="active">Shared expenses</a>
      </div>
      <div class="col-3 no-padding vertical-align">
        <a class="nav-link" routerLink="/user/debts" routerLinkActive="active">Debts</a>
      </div>
      <div class="col-3 no-padding vertical-align">
        <a class="nav-link" routerLink="/user/reports" routerLinkActive="active">Reports</a>
      </div>
    </nav>
</div>
<router-outlet></router-outlet>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-black" (click)="c('Save click')">Save</button>
  </div>
</ng-template>
