<div class="row nav-top">
    <div class="col-10">Intellginet Expense Manager</div>
    <div class="col-2">
        <img src="assets/bell-icon.svg"/>
    </div>
</div>
<nav class="nav nav-bottom">
  <a class="nav-link active" routerLink="/user/expenses" routerLinkActive="active">All expenses</a>
  <a class="nav-link" routerLink="/user/shared-expenses" routerLinkActive="active">Shared expenses</a>
  <a class="nav-link" routerLink="/user/debts" routerLinkActive="active">Debts</a>
  <a class="nav-link" routerLink="/user/reports" routerLinkActive="active">Reports</a>
</nav>
<router-outlet></router-outlet>
