.custom-nav {
  background-color: #5bc5a7;
  color: #fff;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.3);
}

.nav-link {
  padding: 0.2rem 0.4rem;
  max-width: 105px;
  text-align: center;
  max-height: 56px;
  min-height: 56px;
}

a.nav-link {
  color: #fff;
}

a.nav-link.active {
  border-bottom: 3px solid #fff;
}
