<div class="custom-nav" [ngClass]="balanceStateClass">
    <div class="container">
      <div class="row">
        <div class="col-10">Intellginet Expense Manager</div>
        <div class="col-2">
          <img src="assets/bell-icon.svg"/>
        </div>
      </div>
    </div>
    <nav class="nav">
      <a class="nav-link active" routerLink="/user/expenses" routerLinkActive="active">All expenses</a>
      <a class="nav-link" routerLink="/user/shared-expenses" routerLinkActive="active">Shared expenses</a>
      <a class="nav-link" routerLink="/user/debts" routerLinkActive="active">Debts</a>
      <a class="nav-link" routerLink="/user/reports" routerLinkActive="active">Reports</a>
    </nav>
</div>
<router-outlet></router-outlet>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-black" (click)="c('Save click')">Save</button>
  </div>
</ng-template>
